{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}


{% block body %}
<main role="main" class="container-fluid p-4"> 
<div class="container min-vh-100">          

<div class="container-fluid d-inline-flex justify-content-between mt-2 align-items-center">
	<div class="d-inline-flex align-items-center">
		<i class="bi bi-person-circle d-inline p-3" style="font-size: 2rem"></i>
		<h2 class="d-inline">Votre compte</h2>
	</div>
	<div class="d-inline">
		<a type="button" href="{{ path('app_logout') }}" class="btn btn-outline-success">Déconnexion</a>
	</div>
</div>

{% if booking %}
	<div class="mt-5">
		<h5 class="mb-3">Vos réservation(s) :</h5>
		{% for booking in app.user.booking %}
    		<p>Vous avez réservé le {{ booking.date|date("d/m/Y") }} pour {{ booking.nbGuests }} personne(s) à {{ booking.date|date("H:i:s") }}</p>
		{% endfor %}
	</div>
{% endif %}

<div class="mt-5">
	<h5 class="mb-3">Vos informations :</h5>
	{{ form_start(CustomerInfoForm) }}
		{{ form_row(CustomerInfoForm.firstname) }}
		{{ form_row(CustomerInfoForm.lastname) }}
		{{ form_row(CustomerInfoForm.email) }}
		<h5 class="mt-5 mb-3">Vos préférences :</h5>
		{{ form_row(CustomerInfoForm.nbGuests) }}
		<div class="text-center p-3">
	        <button type="submit" class="btn btn-outline-success">Modifier</button>
        </div>
	{{ form_end(CustomerInfoForm) }}
</div>

</div>
</main>

{% endblock %}
