{% extends 'base.html.twig' %}

{% block title %}Création du compte{% endblock %}

{% block body %}
<main role="main" class="main container-fluid p-4"> 
<div class="container min-vh-100">

<div class="container-fluid">
	<div class="d-inline-flex">
		<h3 class="text-secondary">Vous avez déjà un compte ?</h3>
	</div>
	<div class="d-inline-flex ms-3">
		<a type="button" href="/login" class="btn btn-outline-success">Se connecter</a>
	</div>
</div>
<div class="container-fluid mt-5">
	<div class="mb-4">
		<h2>Créer votre compte</h2>
	</div>
	<div>
	    {{ form_start(registrationForm) }}
		    {{ form_row(registrationForm.firstname) }}
		    {{ form_row(registrationForm.lastname) }}
		    {{ form_row(registrationForm.email) }}
		    {{ form_row(registrationForm.plainPassword, {label: 'Mot de passe'}) }}
	    	<div class="text-center p-3">
	        	<button type="submit" class="btn btn-outline-success">S'inscrire</button>
        	</div>
		{{ form_end(registrationForm) }}
	</div>
</div>

</div>
</main>
{% endblock %}
