{% extends 'base.html.twig' %}

{% block title %}Menu
{% endblock %}

{% block body %}
	<main id="bg-menu" role="main" class="main container-fluid p-4">
		<div class="container-fluid min-vh-100">

			{% for key, menu in menus %}
				<div class="row m-2 mb-5 menu-item {{ loop.index % 2 == 0 ? 'menu-item-odd' : 'menu-item-even' }}">
					<div class="col-md menu-item--image-container order-lg-{{ loop.index % 2 == 0 ? '2' : '1' }}">
						<img src="{{ vich_uploader_asset(menu) }}" alt="{{ menu.name }}">
					</div>
					<div class="menu-item--text col-md d-block align-self-center order-lg-{{ loop.index % 2 == 0 ? '1' : '2' }}">
						<div class="p-5 text-center">
							<h3 class="mb-4">{{ menu.name }}</h3>
							<p>{{ menu.description }}</p>
							<p class="text-secondary">{{ menu.price }}€ par personne</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</main>
{% endblock %}
